@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 142 20% 98%;
    --foreground: 142 50% 10%;
    --card: 0 0% 100%;
    --card-foreground: 142 50% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 142 50% 10%;
    --primary: 142 76% 36%;
    --primary-foreground: 142 20% 98%;
    --secondary: 142 25% 94%;
    --secondary-foreground: 142 50% 15%;
    --muted: 142 20% 92%;
    --muted-foreground: 142 15% 45%;
    --accent: 142 72% 29%;
    --accent-foreground: 142 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 142 20% 88%;
    --input: 142 20% 88%;
    --ring: 142 76% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 142 40% 5%;
    --foreground: 142 20% 98%;
    --card: 142 40% 7%;
    --card-foreground: 142 20% 98%;
    --popover: 142 40% 7%;
    --popover-foreground: 142 20% 98%;
    --primary: 142 76% 45%;
    --primary-foreground: 142 20% 98%;
    --secondary: 142 30% 12%;
    --secondary-foreground: 142 20% 98%;
    --muted: 142 30% 12%;
    --muted-foreground: 142 15% 65%;
    --accent: 142 72% 35%;
    --accent-foreground: 142 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 142 30% 15%;
    --input: 142 30% 15%;
    --ring: 142 76% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media print {
  @page {
    margin: 0;
  }
  body {
    background: white !important;
    padding: 0;
    margin: 0;
  }
  .print-landscape {
    size: landscape;
  }
  .print-portrait {
    size: portrait;
  }
  .print\:hidden {
    display: none !important;
  }
  main {
    overflow: visible !important;
    display: block !important;
    padding: 0.5in !important;
  }
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}